<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css" rel="stylesheet" type="text/css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="views/contacto.js"></script>
</head>
<body>
    <form id="formularioContacto">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" data-validation="required alphanumeric" 
            name="name" id="name">
        </div>
        <div class="form-group">
            <label for="phone">Telefono</label>
            <input type="text" class="form-control" data-validation="required number" 
            name="phone" id="phone">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" data-validation="required email" 
            name="email" id="email">
        </div>
        <div class="form-group">
            <label for="address">Direccion</label>
            <input type="text" class="form-control" data-validation="required alphanumeric" 
            name="address" id="address">
        </div>
        <div class="form-group">
            <label for="date">Fecha de nacimiento</label>
            <input type="text" class="form-control" data-validation="required date"
            data-validation-format="yyyy/mm/dd" name="date" id="date">
        </div>
        <div class="form-group">
            <button type="button" id="btnEnviar">Enviar</button>
        </div>
    </form>
</body>
</html>